.sign-out-button{
  background-color: #555555;
  border: none;
  color: white;
  font-weight: 550;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
}

.sign-out-button:hover {
  background-color: #04aa6d;
}