.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 61px;
  background-color: #555555;
  padding-left: 20px;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: row;
}